.content{
  font-size: 12pt;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

}
button{
  border: none;
  padding: .8em 2em;
  background-color: var(--base-color);
  color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}


.wrapper{
  margin:0 auto;
  box-sizing: border-box;
  background-color: var(--base-color);
  min-height: 800px;
  width: min(600px, 100%);
  padding: 10px;
  border: 5px solid var(--accent-color);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
form{
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
form > div{
  width: 100%;
  display: flex;
  justify-content: center;
}
form label{
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
form input{
  color: var(--text-color);
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
}
.eye-icon {
  box-sizing: border-box;
  fill: var(--text-color);
  position: absolute;
  right: 15px;
  top: 30%;
  cursor: pointer;
}
#eye-open1{
  visibility: hidden;
}
#eye-open2{
  visibility: hidden;
}
form input:hover{
  border-color: var(--accent-color);
}
form input:focus{
  outline: none;
  border-color: var(--text-color);
}
div:has(input:focus) > label{
  background-color: var(--text-color);
}
form input::placeholder{
  color: var(--text-color);
}
form button{
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: .85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}
form button:hover{
  background-color: var(--text-color);
}
form button:focus{
  outline: none;
  background-color: var(--text-color);
}
a{
  text-decoration: none;
  color: var(--accent-color);
}

form div.incorrect label{
  background-color: var(--error-color);
}
form div.incorrect input{
  border-color: var(--error-color);
}
#error-message{
  color:var(--error-color);
}
