*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);

}
div:has(.title){
    display: flex;
    justify-content: center;
}
.title{
    -webkit-text-stroke: 1px var(--accent-color);
    font-size: 6rem;
}
.book-container{
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    gap: 20px   ;
    position: relative;
    
}
.fullright{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Định dạng cho nút */
.product button {
    padding: 10px 20px;
    font-size: 1.5rem;
  }
  
  /* Định dạng cho popup */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    opacity: 0; /* Bắt đầu ẩn */
    pointer-events: none; /* Vô hiệu khi ẩn */
    transition: opacity 0.5s ease; /* Thời gian chuyển đổi */
    z-index: 2;
  }
  
  /* Hiển thị popup */
  .popup.show {
    opacity: 1;
    pointer-events: auto; /* Kích hoạt khi hiển thị */
  }
  

.library{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.filter{
    border: 1px solid var(--text-color);
    border-radius: 20px;
    background-color: var(--base-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    top:75px;
    width: 200px;
    flex-shrink: 0;
    position: sticky;

}
.filter > div{
    display: flex;
    flex-direction: column;

}
.filter > div > * {
    padding : 10px 0;
}
.filter  label{
    transition: transform 0.3s ease;
    display: inline-block;
    
}
.filter  label:hover{
    transform: translateX(5px);
    cursor: pointer;
}

.item{
    position: relative;
    padding: 20px;
    border: 2px solid var(--text-color);
    background-color: var(--base-color);
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item:hover{
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.item > .salepricetag{
    width: 45px;
    height: 36px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: red;
    color: aliceblue;
    padding: 5px;
}
.item >.salepricetag::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent red transparent red;
}
.bookname{
        width: 80%;
        text-align: center;
        font-size: 1rem;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 2; 
        overflow: hidden;
        text-overflow: ellipsis;
        height: 2.4rem;
        line-height: 1.2;
      
      
}
.item > a{
    text-align: center;
    max-width:80%;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.realprice{
    font-size: 1.6rem;
    color: #cc4040;
}
.oldprice{
    font-size: 1.4rem;
    text-decoration: line-through;
    line-height: 1.6rem;
}
.item button{
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--text-color);
    cursor: pointer;
    font-size: 1.4rem;
}
.item  button  path{
    fill: var(--text-color);
}
.item button:hover,.item button:hover path{
    color: var(--base-color);
    background-color: var(--text-color);
    fill: var(--base-color);
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 1.6rem;
}
.pagination button {
    height: auto;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--base-color);
}
.pagination button:disabled{
    cursor: not-allowed;
}


@media(max-width: 800px){
    .book-container{
        flex-wrap: wrap;
    }
    .filter{
        width: 100%;
        position: static;
    }
    .library{
        display: flex;
        flex-direction: column;
    }
  }
  